
   <header>
       <h1 align="center" >Création d'un compte utilisateur</h1>
   </header>
   <hr> 
   <main>
       <form action="#" method="post">
            
            <table align="center">
                <tbody>
                    <tr>
                      <td align="right" ><label for="nom">Nom</label></td>
                      <td><input type="text" name="nom" id="Nom"></td>
                    </tr>
                    <tr>
                        <td align="right" ><label for="prenom">Prénom</label></td>
                        <td><input type="text" name="prenom" id="prenom"></td>
                    </tr>
                    <tr>
                        <td align="right" ><label for="nce">N° de Téléphone</label></td>
                        <td><input type="text" name="nce" id="nce"></td>
                    </tr>
                
                </tbody>
            </table>
            
            <hr>
              
            <h2>Adresse Postale</h2>
            
            <table align="center" >
                <tr>
                  <table align="center">
                    <tbody>
                        <tr>
                          <td align="right" ><label for="n° de rue">n° de rue</label></td>
                          <td><input type="number" name="n° de rue" id="Nom"></td>
                        </tr>
                        <tr>
                            <td align="right" ><label for="Complement">Complement</label></td>
                            <td><input type="text" name="Complement" id="Complemeent"></td>
                        </tr>
                        <tr>
                            <td align="right" ><label for="Nom de rue">Nom de rue</label></td>
                            <td><input type="text" name="Nom de rue" id="Nom de rue"></td>
                        </tr>
                        <tr>
                          <td align="right" ><label for="Code postal">Code postal</label></td>
                          <td><input type="number" name="Code postal" id="Code postal"></td>
                      </tr>
                      <tr>
                        <td align="right" ><label for="Ville">Ville</label></td>
                        <td><input type="text" name="Ville" id="Ville"></td>
                    </tr>
                    <tr>
                      <td align="right" ><label for="n° d'étage">n° d'étage</label></td>
                      <td><input type="number" name="n° d'étage" id="n° d'étage"></td>
                  </tr>
                  <tr>
                    <td align="right" ><label for="n° d'appartement">n° d'appartement</label></td>
                    <td><input type="number" name="n° d'appartement" id="n° d'appartement"></td>
                </tr>
                    </tbody>
                </table>
                    
                  
                </tr>
                
            </table>
            <hr>
            <h3>Adresse mail</h3>
            <table align="center" >
              <tr>
                <td align="right" ><label for="adresse mail">adresse mail</label></td>
                <td><input type="text" name="adresse mail" id="adresse mail"></td>
            </tr>
            </table>
            <hr>
            <table align="center">
                <tr>
                    <td>
                        <input type="reset" value="Annuler">
                        <input type="submit" value="Valider l'inscription">
                    </td>
                </tr>
            </table>
            <hr>
        </form>
   </main>
