
   <div class="wrapper">

    <div class="text-center mt-4 name">
        <h1>Inscription</h1>
    </div>
    <form class="p-3 mt-3" action="#" method="post"  >
        <main>
          
                 
                 <table >
                     <tbody >
                         <tr class="form-field d-flex align-items-center">
                           <td ><label for="nom">Nom</label></td>
                           <td><input type="text" name="nom" id="Nom"></td>
                         </tr>
                         <tr class="form-field d-flex align-items-center">
                             <td  ><label for="prenom">Prénom</label></td>
                             <td><input type="text" name="prenom" id="prenom"></td>
                         </tr>
                         <tr class="form-field d-flex align-items-center">
                             <td  ><label for="nce">N° de Téléphone</label></td>
                             <td><input type="text" name="nce" id="nce"></td>
                         </tr>
                     
                     </tbody>
                 </table>
                 
                 <hr>
                   
                 <h2>Adresse Postale</h2>
                 

                       <table >
                         <tbody>
                             <tr class="form-field d-flex align-items-center">
                               <td  ><label for="n° de rue">n° de rue</label></td>
                               <td><input type="number" name="n° de rue" id="Nom"></td>
                             </tr>
                             <tr class="form-field d-flex align-items-center">
                                 <td  ><label for="Complement">Complement</label></td>
                                 <td><input type="text" name="Complement" id="Complemeent"></td>
                             </tr>
                             <tr class="form-field d-flex align-items-center">
                                 <td  ><label for="Nom de rue">Nom de rue</label></td>
                                 <td><input type="text" name="Nom de rue" id="Nom de rue"></td>
                             </tr>
                             <tr class="form-field d-flex align-items-center">
                               <td ><label for="Code postal">Code postal</label></td>
                               <td><input type="number" name="Code postal" id="Code postal"></td>
                           </tr>
                           <tr class="form-field d-flex align-items-center">
                             <td  ><label for="Ville">Ville</label></td>
                             <td><input type="text" name="Ville" id="Ville"></td>
                         </tr>
                         <tr class="form-field d-flex align-items-center">
                           <td ><label for="n° d'étage">n° d'étage</label></td>
                           <td><input type="number" name="n° d'étage" id="n° d'étage"></td>
                       </tr>
                       <tr class="form-field d-flex align-items-center">
                         <td ><label for="n° d'appartement">n° d'appartement</label></td>
                         <td><input type="number" name="n° d'appartement" id="n° d'appartement"></td>
                     </tr>
                         </tbody>
                     </table>
                         

                 <hr>
                 <h3>Adresse mail</h3>
                 <table  >
                   <tr class="form-field d-flex align-items-center">
                     <td><label for="adresse mail">adresse mail</label></td>
                     <td><input type="text" name="adresse mail" id="adresse mail"></td>
                 </tr>
                 </table>
                 <hr>
                 <table>
                     <tr>
                         <td >
                             <button class="btn mt-3" value="Annuler">Annuler</button>
                             <button class="btn mt-3" value="Enregistrer">Enregistrer</button>
                         </td>
                     </tr>
                 </table>
                 <hr>
             
        </main>
    </form>
</div>