

<h1>Se connecter</h1>

<form class="text-center border border-light p-5">
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
    <div class="d-flex justify-content-around">
        </div>
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Enregistrer</button>
</form>

    <!--Bouton redirection création du compte-->
   <!-- <button [routerLink]="'candidat'"> Créer un compte</button> -->
