<div class="box-area">

    <div class="banner-area">
        <h2>Formations</h2>
    </div>

    <div class="content-area">
        <div class="wrapper">
            <p class="intro">Notre offre de formations est étudiée pour répondre aux besoins les plus variés : des
                grands
                standards aux technologies les plus pointues et ça s'arrète là, mais c'est déjà très bien pour un site
                réalisé en deux mois et demi de temps. Nous vous proposons près de 6 programmes dédiés à l’acquisition
                rapide de nouveaux
                savoirs.
                <br>Au-delà de nos offres dédiées aux technologies, aux méthodes et aux métiers de l’informatique, nous
                proposons également des solutions de formation sur les champs du Management, de l’Efficacité
                professionnelle
                et du Développement personnel, mais elles seront disponible dans un second temps d'une durée encore
                indéterminée.
                <br>
            </p>


            <div class="titre-formation">
                <h2>Notre catalogue de formations</h2>
            </div>

            <div class="topnav">
                    <input type="text" placeholder="Chercher une formation">
            </div>
        </div>
    </div>
</div>