.text-slide
{
    position: absolute;
    height: 100%;
    width: 100%;
    

}


.text-slide *
{
    position: absolute;
    z-index: 30;
    color: white;
}
.text-slide p
{
    position: relative;
    margin-left: 1%;
    margin-top: 10%;
    color: white;
}

.inner-slide
{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 50%;
}