.text-slide
{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 50%;

}

h1
{
    color: white;
}
p
{

    margin-left: 1%;
    margin-top: 10%;
    color: white;
}
