
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide >
        <div class="text-slide">

        <h1>Management</h1>
        <p>Apprenez le ba-ba du management, grâce à la qualité d'enseignement de nos intervenant la gestion de vos équipes sera plus efficace.</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">En savoir plus</a></p>
        </div>
        <div class="inner-slide">
        </div>  
        <img src="../../assets/ressource/image/management.png">
    
    </ng-template>  
    <ng-template carouselSlide >
        <div class="text-slide">
        <h1>Informatique</h1>
        <p>Les bases de l'informatique n'auront aucun secret pour vous.</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">En savoir plus</a></p>
        </div>
        <div class="inner-slide">
        </div>  
        <img src="../../assets/ressource/image/informatique.jpg">
    </ng-template>  
    <ng-template carouselSlide >
        <div class="text-slide">
        <h1>Developpement</h1>
        <p>Vous voulez vous réorienter ou monter en compétence dans le métier du développement ? Vous aurez tout les outils nécessaire dans cette formation.</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">En savoir plus</a></p>
        </div>
        <div class="inner-slide">
        </div>  
        <img src="../../assets/ressource/image/developpement.jpg">
    </ng-template>  
  </owl-carousel-o>

