
<h2 class="titre-section">Nos solutions :</h2>

<div class="back d-flex justify-content-center" >
    
    
    <div class="card1">


        <a href="#" class="card">
            <figure class="image">
                <img class='test' src="../../assets/ressource/image/th/coursSpring.png">
            </figure>
            <article class="text">
                <h2>formation Spring</h2>
                <p>Connaissances indispensables pour maitriser Spring</p>
            </article>
        </a>
    </div>

    <div class="card1">
  

        <a href="#" class="card">
            <figure class="image">
                <img class='test' src="../../assets/ressource/image/th/coursAngular2.png">
            </figure>
            <article class="text">
                <h2>formation Angular</h2>
                <p>Connaissances indispensables pour maitriser Angular</p>
            </article>
        </a>
    </div>

    <div class="card1">
     

        <a href="#" class="card">
            <figure class="image">
                <img class='test' src="../../assets/ressource/image/th/coursJAVA.jpg">
            </figure>
            <article class="text">
                <h2>formation JAVA</h2>
                <p>Connaissances indispensables pour maitriser JAVA</p>
            </article>
        </a>
    </div>
</div>

<div class="back d-flex justify-content-center" >
    <div class="card1">
      

        <a href="#" class="card">
            <figure class="image">
                <img class='test' src="../../assets/ressource/image/th/coursEclipse.jpg">
            </figure>
            <article class="text">
                <h2>formation Eclipse</h2>
                <p>Connaissances indispensables pour maitriser Eclipse</p>
            </article>
        </a>
    </div>

    <div class="card1">
    

        <a href="#" class="card">
            <figure class="image">
                <img class='test' src="../../assets/ressource/image/th/coursScrum.png">
            </figure>
            <article class="text">
                <h2>formation SCRUM</h2>
                <p>Connaissances indispensables pour maitriser SCRUM</p>
            </article>
        </a>
    </div>

    <div class="card1">
    

        <a href="#" class="card">
            <figure class="image">
                <img class='test' src="../../assets/ressource/image/th/coursSQL.png">
            </figure>
            <article class="text">
                <h2>formation SQL</h2>
                <p>Connaissances indispensables pour maitriser SQL</p>
            </article>
        </a>
    </div>
</div>


