<div>
	<nav class="navbar bg-light">
		<div class="container-fluid">
		  	<a class="navbar-brand" href="">
				<img src="../assets/ressource/image/logo.png" height="150" width="150" class="d-inline-block align-text-top"/>	
		  	</a>
				<div class="navbar-brand" id="navbarNav">
					<ul class="navbar">
					<li class="nav-link p-2">
						<a class="nav-link active" [routerLink]="'contact'" >Contacts</a>
					</li>
					<li class="nav-link p-2">
						<a class="nav-link active" [routerLink]="'formation'">Formations</a>
					</li>
					<li class="nav-link p-2">
						<a class="nav-link active" [routerLink]="'connexion'" >Se connecter</a>
					</li>
					<li class="nav-link p-2">
						<a class="nav-link active" [routerLink]="'compte'" >Créer un compte</a>
					</li>
					</ul>
				</div>
		</div>
		
	</nav>

</div>
