<button class="btn-primary" [routerLink]="'create'">Ajouter Formation</button>
<h1>Liste des Formations</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>niveau</th>
            <th>Salle</th>
            <th>Formateur</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let formation of formation$ | async">
            <th>{{formation.nom}}</th>
            <th>{{formation.dteDebut | date: 'dd/MM/yyyy'}}</th>
            <th>{{formation.dteDefin | date: 'dd/MM/yyyy'}}</th>
            <th>{{formation.niveau}}</th>
            <th>{{formation.salle}}</th>
            <th>{{formation.formateur}}</th>
            <th><button type="submit" class="btn btn-success" [routerLink]="['update', formation.id]">Modifier</button></th>
            <th><button type="submit" class="btn btn-danger" [routerLink]="['delete', formation.id]">Supprimer</button></th>
        </tr>

    </tbody>
</table>