<form (submit) = addSalle()>
    <div class="form-group">
        <label for="code">Code</label>
        <input id="code" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="codeIdentification">Code d'Identification</label>
        <input id="codeIdentification" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="marque">Marque</label>
        <input id="marque" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="modele">Modèle</label>
        <input id="modele" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="apprenant">Apprenant</label>
        <input id="apprenant" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Ajouter</button>

</form>
